/* globals */
:root {
	--bezel-color-primary: #e62429;
	--bezel-color-secondary: white;
	--bezel-color-third: black;
	--bazel-width: 2;
}

body {
	margin: 0;
	box-sizing: border-box;
	font-family: "Roboto Condensed", sans-serif;
}
/* globals */

/* header section */
.header-two {
	display: none;
}
.header-one {
	background-color: #202020;
	padding: 0 30px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-items: center;
	align-items: center;
}
.header-one-menu-icon {
	justify-self: left;
	cursor: pointer;
}
.header-one-search-icon {
	justify-self: right;
	cursor: pointer;
}
/* header section end */

/* sub-header section */
.sub-header {
	background-color: #151515;
	color: white;
}
.sub-header-one {
	display: none;
}
.sub-title {
	color: white;
	font-size: 0.8em;
	font-weight: 500;
	display: grid;
	grid-template-columns: 60% 40%;
	align-items: center;
	justify-items: center;
	text-decoration: none;
}
.sub-title-text-one {
	justify-self: right;
}
.sub-title-text-two {
	display: none;
}
.sub-title-image {
	padding-left: 0.5em;
	justify-self: left;
}
/* sub-header section end*/

/* carousel section*/
.carousel-image {
	margin: 0;
}
.carousel-image img {
	width: 100%;
}
.main {
	background-color: #151515;
	color: white;
	padding-bottom: 4em;
}
.main section {
	padding: 0 20px;
}
.main-description h4,
.main-description h1 {
	font-weight: bold;
}
button {
	padding: 1.2em 2em;
	background-color: var(--bezel-color);
	color: white;
	font-weight: bold;
	border-style: none;
	cursor: pointer;
}
button.stroke {
	background-color: unset;
	background-image: paint(bezelStroke);
}
button.stroke:hover {
	--bezel-color-secondary: rgba(250, 250, 250, 0.3);
}
button.filled {
	background-color: unset;
	background-image: paint(bezelFilled);
}
button.filled:hover {
	--bezel-color-primary: #810000;
}
.carousel-pagination-wrap {
	display: flex;
	padding: 0 100px;
}
.carousel-pagination {
	width: 18px;
	border: 2px solid white;
}
.carousel-pagination-wrap hr:nth-child(3) {
	border: 2px solid var(--bezel-color-primary);
}
/* carousel section end*/

/* cards section */
.card-section {
	padding-top: 1.5em;
}
.card-section img {
	width: 100%;
}
.card-section h2 {
	padding: 0 0.5em;
	letter-spacing: 0.1em;
	font-weight: bold;
}
.card-section h2::before {
	content: "";
	display: block;
	position: relative;
	height: 2px;
	width: 20px;
	background-color: #c6a972;
	top: -8px;
	left: 49px;
	transform: rotate(-45deg);
}
.card-section h2:after {
	content: "";
	display: block;
	position: relative;
	height: 2px;
	width: 20px;
	background-color: #c6a972;
	top: calc(100% + 3px);
	left: -6px;
	transform: rotate(-45deg);
	margin-top: 6px;
}
.card-section-list {
	padding: 0 1em;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(2, 1fr);
	column-gap: 0.7em;
	row-gap: 1em;
}
.card-section-list figure {
	margin: 0;
}
.card-section-list figure h4,
.card-section-list figure p {
	margin: 0;
	font-weight: bold;
	padding-top: 0.3em;
}
.card-section-list figure h4 {
	color: rgba(0, 0, 0, 0.5);
}
/* cards section end*/

/* sub-main */
.sub-main {
	background-color: #151515;
	color: white;
	padding-bottom: 1em;
}
.sub-main section {
	padding: 0 20px;
}
.sub-main-description h4,
.submain-description h1 {
	font-weight: bold;
}
.main-title-decorated {
	letter-spacing: 0.2em;
}
.main-title-decorated::before {
	content: "";
	display: block;
	position: relative;
	height: 2px;
	width: 30px;
	background-color: #c6a972;
	top: -8px;
	left: 42px;
	transform: rotate(-45deg);
}
.main-title-decorated::after {
	content: "";
	display: block;
	position: relative;
	height: 2px;
	width: 30px;
	background-color: #c6a972;
	top: calc(100% + 3px);
	left: 5px;
	transform: rotate(-45deg);
	margin-top: 6px;
}
.unlimited-icon {
	padding-top: 2.5em;
	margin-bottom: 1em;
}
.background-wrapper {
	margin: 0;
}
.background-wrapper img {
	width: 100%;
}
/* sub-main end */

/* cards-carousel */
.cards-carousel {
	display: grid;
	grid-auto-flow: column;
	overflow: auto;
	column-gap: 1.2em;
	height: 275px;
	margin: 1.5em 1.2em;
}
.cards-carousel-item {
	height: 190px;
	margin: 0;
	box-shadow: 0 7px 17px -8px rgba(0, 0, 0, 0.8);
}
.cards-carousel-title,
.cards-carousel-subtitle {
	margin: 0;
	font-weight: bold;
}
.cards-carousel-title {
	padding-top: 1em;
	font-size: 0.8em;
}
.cards-carousel-subtitle {
	padding-top: 0.3em;
	font-size: 0.7em;
	color: rgba(0, 0, 0, 0.5);
}
.cards-carousel img {
	height: 100%;
}
/* cards-carousel */

/* news section */
.card-section-header {
	text-align: center;
	padding: 0 2em;
}
.card-section-news-list,
.card-section-latest-list {
	padding: 0 1em;
	display: grid;
	grid-template-columns: 1fr;
}
.card-section-news-list-item {
	padding-top: 2em;
	border-top: 1px solid #f2f2f2;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin-left: 20px;
	margin-right: 20px;
	column-gap: 1em;
}
.card-section-news-list-item-description h4,
.card-section-news-list-item-description p,
.card-section-latest-list-item-description h4,
.card-section-latest-list-item-description p {
	margin: 0;
	font-weight: bold;
}
.card-section-news-list-item-description h4 {
	color: rgba(0, 0, 0, 0.5);
}
/* news section end */

/* latest section */
.card-section-latest-header {
	padding-left: 0.3em;
	font-weight: bold;
}
.card-section-latest-item {
	border-bottom: 1px solid #bbbbbb;
	padding-bottom: 1.3em;
	margin-left: 20px;
	margin-right: 20px;
}
.card-section-latest-list-item-description h4,
.card-section-latest-list-item-description-content,
.card-section-latest-list-item-description-legend {
	padding-top: 0.7em;
}
.card-section-latest-list-item-description-legend,
.card-section-latest-list-item-description h4 {
	color: rgba(0, 0, 0, 0.5);
	font-size: 0.8em;
	letter-spacing: 0.2em;
}
.card-section-latest-list-item-description-content {
	font-size: 1.3em;
}
.card-section-latest-item .video-exclusive {
	color: #e62429;
}
.card-section-latest-list-item-description-join {
	padding-top: 0.7em;
	display: grid;
	grid-template-columns: 10% 1fr;
	align-items: center;
	column-gap: 0.2em;
}
.card-section-latest-list-item-description-join-text {
	color: rgba(0, 0, 0, 0.6);
}
.card-section-latest-list-item-description-join-link {
	color: #e62429;
	font-weight: bold;
}
.card-section-latest-button {
	display: grid;
	justify-content: center;
}
button.stroke-black {
	background-color: unset;
	background-image: paint(bezelStrokeBlack);
	color: black;
	width: 150px;
}
button.stroke-black:hover {
	--bezel-color-third: rgba(0, 0, 0, 0.3);
}
/* latest section end */

/* story boards section */
.card-section.tertiary figure {
	border-bottom: white;
}
.card-section-latest-list-item-description .description-storyboard {
	font-size: 1.1em;
	padding-top: 1em;
	font-weight: unset;
}
.cards-carousel.tertiary {
	height: 170px;
}
.cards-carousel-item.tertiary {
	height: 70px;
	margin: 0;
	box-shadow: 0 7px 17px -8px rgba(0, 0, 0, 0.8);
}
.main-description.secondary {
	padding-top: 3em;
}
.main-description.secondary button {
	margin-bottom: 1.5em;
}
/* story boards section end */
/* payment section */
.main.payment {
	padding-top: 0.7em;
	padding-bottom: 0;
	background-color: #000000;
}
.main-description.payment {
	display: grid;
	justify-content: center;
	align-items: center;
}
.main-description.payment h1,
.main-description.payment h4,
.main-description.payment p {
	text-align: center;
}
.main-description.payment h4 {
	color: #e62429;
}
.main-description.payment h1 {
	font-size: 1.9em;
	margin: 0;
	font-weight: bold;
}
.main-description.payment button {
	margin: 1em 0 2.5em 0;
	width: 150px;
	justify-self: center;
}
.main-description.payment p {
	font-size: 0.8em;
}
/* payment section end */
/* footer */
.footer {
	display: grid;
	grid-area: "links" "announcement" "social" "terms";
	background-color: #151515;
	color: white;
}
.links {
	grid-area: "links";
}
.links-image {
	text-align: center;
	padding-top: 2em;
}
.links-list {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	padding: 0.5em 2em;
}
.links-list-item {
	display: inherit;
	/* justify-content: center; */
	font-size: 0.8em;
	font-weight: bold;
}
.announcement {
	grid-area: "announcement";
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(2, 1fr);
	row-gap: 2em;
	align-items: center;
	border-top: 1px solid #393939;
	margin: 0.5em 2em;
	padding: 2em 0;
}
.announcement-img {
	margin: 0;
}
.announcement-content {
	font-size: 0.9em;
}
.announcement-content-title,
.announcement-content-subtitle {
	margin: 0;
}
.announcement-content-title {
	font-weight: bold;
}
.announcement-content-subtitle {
	color: rgba(250, 250, 250, 0.5);
}
.social {
	grid-area: "social";
	margin: 0.5em 2em;
	border-top: 1px solid #393939;
	padding: 1em 0;
}
.social-list {
	/* background-color: red; */
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	justify-content: center;
	padding: 1em 0;
}
.social-list figure {
	margin: 0;
	text-align: center;
}
.terms {
	grid-area: "terms";
	border-top: 1px solid #393939;
	margin: 0.5em 2em;
}
.terms-list {
	list-style: none;
	font-size: 0.8em;
	color: rgba(250, 250, 250, 0.5);
	text-align: center;
	padding: 2em 0;
}
/* footer end */
/* break points */
@media screen and (min-width: 839px) {
	.header-one {
		display: none;
	}
	.header-two {
		background-color: #202020;
		padding: 0 30px;
		display: grid;
		grid-template-columns: 20% 50% 23% 7%;
		align-items: center;
		justify-items: center;
	}
	.header-two-border-line {
		display: inherit;
		width: 100%;
		height: 100%;
		border: 1px solid #393939;
		align-items: center;
		justify-items: center;
	}
	.header-two-sign {
		color: white;
		font-size: 0.8em;
		font-weight: bold;
	}
	.header-two-credit-card {
		color: white;
		font-weight: bold;
		font-size: 0.8em;
		display: grid;
		grid-template-columns: 45% 55%;
	}
	.header-two-credit-card-image {
		justify-self: right;
		padding-right: 0.8em;
	}
	.header-two-credit-card-text {
		justify-self: left;
	}
	.sub-header-one {
		display: grid;
		background-color: #202020;
		padding: 10px 100px;
		color: white;
		font-weight: bold;
		font-size: 0.8em;
		border-top: 1px solid #393939;
	}
	.sub-header-one-wrap {
		display: grid;
		grid-template-columns: repeat(8, 1fr);
		justify-items: center;
	}
	.sub-header-one .sub-header-one-wrap span {
		cursor: pointer;
	}
	.sub-header-one .sub-header-one-wrap span:hover {
		border-bottom: 2px solid red;
	}
	.sub-title {
		grid-template-columns: 63% 37%;
	}
	.sub-title-text-one {
		display: none;
	}
	.sub-title-text-two {
		display: block;
		justify-self: right;
	}
	/* main section */
	/* .main {
		display: grid;
		grid-template-columns: 1fr 1fr;
	} */
	.carousel-pagination-wrap {
		display: none;
	}
	.main {
		position: relative;
	}
	.main-description {
		position: absolute;
		top: 60px;
		width: 350px;
		background-color: rgb(0, 0, 0); /* Fallback color */
		background-color: rgba(0, 0, 0, 0.4);
		/* backdrop-filter: blur(10px); */
	}
}
@media screen and (min-width: 1024px) {
	.sub-header-one {
		padding: 10px 200px;
	}
}
